* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #141627;
}

header {
    min-height: 100vh;
    position: relative;
}

#cuadro {
    display: flex;
    justify-content: center;
}

#titulo-letra h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}

#titulo-letra h2 {
    color: rgba(255, 235, 205, 0.623);
    font-family: 'Raleway Dots', cursive;
}

#conte-foto {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
}

#conte-foto #foto1 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.align-items-center {
    align-items: center;
}

.effect-wrap .effect {
    position: absolute;
    z-index: -1;
}

.effect-1 {
    width: 30px;
    height: 30px;
    border: 4px solid #8a49ff;
    right: 10%;
    bottom: 10%;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.effect-2 {
    left: 3%;
    bottom: 20%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: topBounce 3s ease-in-out infinite;
}

.effect-2 div {
    height: 3px;
    width: 3px;
    background-color: #ff9c07;
    margin: 0 3px 8px;
}

@keyframes topBounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(25px);
    }
}

.effect-3 {
    height: 180px;
    width: 180px;
    border: 25px solid rgb(71, 69, 209);
    border-radius: 50%;
    left: 50%;
    top: -120px;
    animation: leftBounce 3s ease-in-out infinite;
}

@keyframes leftBounce {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-25px);
    }
}

.effect-4 {
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    left: 30%;
    top: 20%;
    animation: spin 15s linear infinite;
}

.effect-4::before {
    content: "";
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    position: absolute;
    opacity: 0.5;
    left: -35px;
    top: -25px;
}

.effect-5 {
    height: 50px;
    width: 50px;
    right: 10%;
    top: 30%;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 10s linear infinite;
}

.effect-5 div {
    width: 1px;
    background-color: #4dd0e1;
}


/*  -------SKILLS -------------*/

.conte-skill h3 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 70px;
    text-align: center;
    padding-bottom: 111px;
}

.skills {
    height: 150px;
    display: flex;
    justify-content: space-around;
    /*background-color: yellowgreen;*/
    width: 100%;
}

.css,
.html,
.js {}

.css {
    /* background-color: teal;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.js {
    /*background-color: rgb(0, 3, 194);*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.html {
    /*background-color: green;*/
    display: flex;
    align-items: center;
    justify-content: center;
}


/*  -------ICONOS -------------*/

.css3 {
    color: rgb(0, 118, 197);
    width: 50px;
    height: 56px;
}

.html5 {
    width: 50px;
    height: 56px;
    color: rgb(245, 105, 12);
}

.jsl {
    width: 50px;
    height: 56px;
    color: rgb(248, 214, 24);
}

.logo-nombret {
    /*background-color: indigo;*/
    text-align: center;
    color: white;
}

.logo-nombre2 {
    /*background-color: indigo;*/
    text-align: center;
    color: white;
}

.logo-nombre3 {
    /*background-color: indigo;*/
    text-align: center;
    color: white;
}

.conter-icon {
    /*background-color: ivory;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.conter-icon2 {
    /*background-color: ivory;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.conter-icon3 {
    /*background-color: ivory;*/
    display: flex;
    justify-content: center;
    align-items: center;
}


/*  ------------------------------- */

.con {
    padding: 10px;
    background-color: #232643;
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 128px;
    transition: all 1s;
    transform: rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
}

.conte-skill {
    padding-top: 20px;
    perspective: 700px;
}

.con:hover {
    transform: rotateX(40deg);
}


/*  ------------------------------- */

.rou {
    padding-right: 0!important;
    padding-left: 0!important;
}
.img-point{
    cursor: pointer;
    width: 100%;   
}
.columna {
    
    height: 12rem;
    
}

.conte-columna{
    height: 28rem;
}

.titu {
    
    font-size: 60px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.link-container{
    height: 30rem;
}

.conte-logoo{
    width: 50rem;
}

/* ----FOOTER----- */
.footer-container{
    height: 5em;
    max-width: 100%!important;
    padding-right: 0!important;
    padding-left: 0!important;
    margin-right: 0!important;
    margin-left: 0!important;
}
/* ---MODAL--- */
.dialog-cont{
    max-width: none;
    width: 50em;
}
.modal-pf{
    font-size: .9em;
}
.modal-bg{
    background-color: #232643;
}
.modal-bd{
    border-top: none;
    border-bottom: none;
}
.modal-icon01{
    color: #ff9c07;
}
.modal-icon02{
    color: #07a4ff;
}
.btn-color{
    color: #ffff;
    background-color: transparent;
}

.logo-b{
    color: #8a49ff;
}
/* ---CONTACT---- */
.contact-link{
    text-decoration: none;
}

/* ---footer--- */

.footer{
    font-size: 16px;
}

/* ---contacto--- */

.contacto-titulo{
    font-size: 60px;
}








/* ---portaa--- */


 
 .listado-tres:after{
    content: "";
    display: block;
    clear: both;
 }

 .iman{
     width: 100%;
     height: 100%;
 }
 
 .listado-tres a{
    width: 100%%;
    height: 100%;
    margin: 1%;
    float: left;
    position: relative;
 }
 
 .listado-tres a div{
    overflow: hidden;
    width: 100%;
    
 }
 
 .listado-tres a div:after{
    content: '';
    background: rgba(18,18,18,0.49);
    background: -moz-linear-gradient(45deg, rgba(18,18,18,0.49) 0%, rgba(18, 0, 179, 0.281) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(18,18,18,0.49)), color-stop(100%, rgba(179,0,95,0.53)));
    background: -webkit-linear-gradient(45deg, rgba(18,18,18,0.49) 0%, rgba(18, 0, 179, 0.281) 100%);
    background: -o-linear-gradient(45deg, rgba(18,18,18,0.49) 0%, rgba(18, 0, 179, 0.281) 100%);
    background: -ms-linear-gradient(45deg, rgba(18,18,18,0.49) 0%, rgba(18, 0, 179, 0.281) 100%);
    background: linear-gradient(45deg, rgba(18,18,18,0.49) 0%, rgba(18, 0, 179, 0.281) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121212', endColorstr='#b3005f', GradientType=1 );
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
 }
 
 .listado-tres a:before{
    content: '';
    border: 0px solid #fff;
    -webkit-box-shadow: inset 0 0 0 15px #fff;
    -moz-box-shadow: inset 0 0 0 15px #fff;
    box-shadow: inset 0 0 0 15px #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 120;
    transition: all 0.3s linear;
    opacity: .2;
 }

 .listado-tres{
    height: 100%;
 }
 
 .listado-tres a:hover:before{
    top: -15px;
    left: -15px;
    opacity: 1;
 }
 
 .listado-tres a img{
    width: 100%;
    height: 190px;
    object-fit: cover;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transform: scale(1,1);
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    filter: grayscale(100%);
 }
 
 .listado-tres a:hover img{
    filter: grayscale(0%);
    transform: rotate(-15deg) scale(1.6,1.6);
    -moz-transform: rotate(-15deg) scale(1.6,1.6);
    -webkit-transform: rotate(-15deg) scale(1.6,1.6);  
 }
 
 


/*=============================================
PANTALLA DE ESCRITORIO GRANDE - LARGE (lg) - revisamos en portatil o pc
=============================================*/

@media(min-width:1200px) {
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .con {
        width: 60%;
    }
    
}


/*=============================================
PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md) - revisamos en tablet horizontal 1024px
=============================================*/

@media(max-width:1199px) and (min-width:992px) {
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .con {
        width: 60%;
    }
  
}


/*=============================================
PANTALLA DE TABLET - SMALL (sm) - revisamos en tablet vertical 768px
=============================================*/

@media(max-width:991px) and (min-width:768px) {
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .con {
        width: 70%;
    }
    

    
}


/*=============================================
PANTALLA DE PHONES - EXTRA SMALL (xs) - revisamos en movil horizontal 480px o vertical 320px
=============================================*/

@media(max-width:767px) {
    .col-xs-12 {
        width: 100%;
    }
    .col-xs-11 {
        width: 91.66666667%;
    }
    .col-xs-10 {
        width: 83.33333333%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-8 {
        width: 66.66666667%;
    }
    .col-xs-7 {
        width: 58.33333333%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-5 {
        width: 41.66666667%;
    }
    .col-xs-4 {
        width: 33.33333333%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-2 {
        width: 16.66666667%;
    }
    .col-xs-1 {
        width: 8.33333333%;
    }
    .con {
        width: 100%;
    }
    .css,
    .html,
    .js {
        width: 30%;  
    }

    
}